.header__toggle-label {
  font-family: 'Circe', sans-serif;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
}
